<app-header />
<main class="home-content">
  <section class="home-content-section">
    <div class="home-content__text">
      <h1 class="home-title">
        Donnez a vos anciens vetements une
        <span class="title-span">nouvelle vie.</span>
      </h1>
      <p class="home-content__text__description">
        Rejoignez notre communauté des passionés de fashion qui achetent et
        vendent des vetements.Qualité, style et prix abordable.
      </p>
      <div class="home-content__text__buttons">
        <button mat-flat-button>Acheter</button>
        <button mat-stroked-button>Vender vos vetements</button>
      </div>
    </div>
    <div class="home-content__image">
      <img class="home-content__image__img" alt="fashion" />
    </div>
  </section>

  <section class="feature-section">
    <div class="feature-section-header">
      <div class="feature-section__text">
        <h3>Nos collections</h3>
        <span>Decouverez des pieces uniques.</span>
      </div>
      <button mat-stroked-button>Tout voir</button>
    </div>

    <div>
      <app-products />
    </div>
  </section>
  <section class="howitwork-section">
    <h3 class="howitwork-title">Comment ca marche</h3>
    <p class="howitwork-description">
      Rejoingez notre communauté des adeptes de fashions et commencer a vendre
      et acheter vos vetements aujourd'hui .
    </p>
    <div class="howitwork-grid">
      <div>
        <i
          class="material-icons"
          aria-hidden="false"
          aria-label="Example person icon"
          >person</i
        >
        <h3>Listez vos vetements</h3>
        <p>
          Prener en photos et creer une liste pour vos vetements que vous ne
          porter plus.
        </p>
      </div>
      <div>
        <i
          class="material-icons"
          aria-hidden="false"
          aria-label="Example person icon"
          >person</i
        >
        <h3>Listez vos vetements</h3>
        <p>
          Prener en photos et creer une liste pour vos vetements que vous ne
          porter plus.
        </p>
      </div>
      <div>
        <i
          class="material-icons"
          aria-hidden="false"
          aria-label="Example person icon"
          >person</i
        >
        <h3>Listez vos vetements</h3>
        <p>
          Prener en photos et creer une liste pour vos vetements que vous ne
          porter plus.
        </p>
      </div>
    </div>
  </section>
  <section class="cta-section">
    <h3>Pret pour actualisé votre dressing?</h3>
    <p>
      Join thousands of users who are buying and selling pre-loved clothing on
      ReWear. Sustainable fashion has never been easier.
    </p>
    <div class="home-content__text__buttons">
      <button mat-flat-button>Acheter</button>
      <button mat-stroked-button>Vender vos vetements</button>
    </div>
  </section>
</main>
